#include <windows.h>
#include "resource.h"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "GUIC_2.0.manifest"

#ifndef APSTUDIO_INVOKED
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,1,0
 PRODUCTVERSION 2,0,1,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "C-Kirov"
            VALUE "FileDescription", "GUIC 2.0 - 图形化时钟"
            VALUE "FileVersion", "2.0.1.0"
            VALUE "InternalName", "GUIC_2"
            VALUE "LegalCopyright", "Copyright (C) 2026 C-Kirov"
            VALUE "OriginalFilename", "GUIC_2.exe"
            VALUE "ProductName", "GUIC 2.0"
            VALUE "ProductVersion", "2.0.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
#endif // APSTUDIO_INVOKED

IDI_ICON1 ICON "GUIC_2.0.ico"

IDD_MESSAGE_DIALOG DIALOGEX 0, 0, 300, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "设置显示消息"
FONT 9, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT           "请输入显示消息：", IDC_STATIC_MSG_INPUT, 10, 10, 260, 20
    EDITTEXT        IDC_EDIT_MESSAGE, 10, 35, 260, 70, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
    DEFPUSHBUTTON   "确定", IDOK, 85, 115, 60, 25
    PUSHBUTTON      "取消", IDCANCEL, 155, 115, 60, 25
END

IDD_COUNTDOWN_ONCE_DIALOG DIALOGEX 0, 0, 300, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "设置一次性倒计时"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "请输入目标时间(YYYY-MM-DD HH:MM:SS)：", IDC_STATIC_ONCE_INPUT, 10, 10, 270, 20
    EDITTEXT        IDC_EDIT_ONCE_TIME, 10, 35, 260, 22
    DEFPUSHBUTTON   "确定", IDOK, 85, 70, 60, 25
    PUSHBUTTON      "取消", IDCANCEL, 155, 70, 60, 25
END

IDD_COUNTDOWN_DAILY_DIALOG DIALOGEX 0, 0, 380, 230
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "设置每日倒计时"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "请输入每日时间(HH:MM:SS):", IDC_STATIC_DAILY_INPUT, 10, 10, 200, 20
    EDITTEXT        IDC_EDIT_DAILY_TIME, 10, 35, 330, 22
    LTEXT           "备注:", IDC_STATIC_DAILY_REMARK, 10, 65, 30, 20
    EDITTEXT        IDC_EDIT_DAILY_REMARK, 10, 90, 330, 60, ES_MULTILINE | WS_VSCROLL
    DEFPUSHBUTTON   "确定", IDOK, 215, 160, 60, 25
    PUSHBUTTON      "取消", IDCANCEL, 285, 160, 60, 25
END

IDD_WINDOW_SETTINGS_DIALOG DIALOGEX 0, 0, 330, 215
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "窗口设置"
FONT 9, "MS Shell Dlg"
BEGIN
    AUTOCHECKBOX    "允许调整窗口大小", IDC_CHECK_RESIZABLE, 20, 25, 150, 22
    LTEXT           "窗口大小:", IDC_STATIC_WINDOW_SIZE, 10, 55, 80, 22
    LTEXT           "宽度:", IDC_STATIC_WIDTH, 20, 80, 40, 22
    EDITTEXT        IDC_EDIT_WINDOW_WIDTH, 60, 78, 60, 22
    LTEXT           "高度:", IDC_STATIC_HEIGHT, 140, 80, 40, 22
    EDITTEXT        IDC_EDIT_WINDOW_HEIGHT, 180, 78, 60, 22
    LTEXT           "范围: 宽度300-2000, 高度200-1500", IDC_STATIC_WINDOW_RANGE, 20, 110, 260, 22
    DEFPUSHBUTTON   "确定", IDOK, 85, 145, 60, 25
    PUSHBUTTON      "取消", IDCANCEL, 155, 145, 60, 25
END

IDD_FONT_SETTINGS_DIALOG DIALOGEX 0, 0, 260, 160
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "字体设置"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "字体大小:", IDC_STATIC_FONT_SIZE, 20, 35, 60, 22
    EDITTEXT        IDC_EDIT_FONT_SIZE, 85, 33, 60, 22
    LTEXT           "字体名称:", IDC_STATIC_FONT_NAME, 20, 65, 60, 22
    EDITTEXT        IDC_EDIT_FONT_NAME, 85, 63, 120, 22
    DEFPUSHBUTTON   "确定", IDOK, 70, 100, 60, 25
    PUSHBUTTON      "取消", IDCANCEL, 140, 100, 60, 25
END

IDD_COLOR_SETTINGS_DIALOG DIALOGEX 0, 0, 240, 140
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "颜色设置"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "请选择字体颜色:", IDC_STATIC_COLOR_LABEL, 10, 10, 150, 22
    PUSHBUTTON      "选择颜色", IDC_BUTTON_COLOR, 10, 35, 100, 25
    DEFPUSHBUTTON   "确定", IDOK, 45, 75, 60, 25
    PUSHBUTTON      "取消", IDCANCEL, 115, 75, 60, 25
END

IDD_SPECIAL_DAY_DIALOG DIALOGEX 0, 0, 380, 280
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "添加特殊日期"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "名称:", IDC_STATIC_SPECIAL_NAME, 10, 10, 40, 22
    EDITTEXT        IDC_EDIT_NAME, 55, 8, 280, 22
    LTEXT           "月份:", IDC_STATIC_SPECIAL_MONTH, 10, 40, 40, 22
    EDITTEXT        IDC_EDIT_MONTH, 55, 38, 60, 22, ES_NUMBER
    LTEXT           "日期:", IDC_STATIC_SPECIAL_DAY, 130, 40, 40, 22
    EDITTEXT        IDC_EDIT_DAY, 175, 38, 60, 22, ES_NUMBER
    AUTOCHECKBOX    "每年重复", IDC_CHECK_ANNUAL, 10, 70, 90, 22
    LTEXT           "年份:", IDC_STATIC_SPECIAL_YEAR, 120, 70, 40, 22
    EDITTEXT        IDC_EDIT_YEAR, 165, 68, 70, 22, ES_NUMBER
    AUTOCHECKBOX    "节气", IDC_CHECK_SOLAR_TERM, 10, 100, 60, 22
    LTEXT           "时间:", IDC_STATIC_SPECIAL_TIME, 90, 100, 40, 22
    EDITTEXT        IDC_EDIT_HOUR, 130, 98, 50, 22, ES_NUMBER
    LTEXT           ":", IDC_STATIC, 185, 100, 10, 22
    EDITTEXT        IDC_EDIT_MINUTE, 195, 98, 50, 22, ES_NUMBER
    DEFPUSHBUTTON   "确定", IDOK, 140, 210, 60, 25
    PUSHBUTTON      "取消", IDCANCEL, 210, 210, 60, 25
END

IDD_WORLD_CLOCK_DIALOG DIALOGEX 0, 0, 320, 290
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "世界时钟"
FONT 9, "MS Shell Dlg"
BEGIN
    LISTBOX         IDC_LIST_WORLD_CLOCKS, 10, 10, 280, 150, WS_VSCROLL | WS_BORDER | LBS_NOTIFY
    LTEXT           "", IDC_STATIC_WORLD_CLOCK_DISPLAY, 10, 170, 280, 50, SS_CENTER
    DEFPUSHBUTTON   "关闭", IDOK, 240, 230, 50, 25
END

IDD_ANALOG_CLOCK_DIALOG DIALOGEX 0, 0, 320, 350
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "模拟时钟"
FONT 9, "MS Shell Dlg"
BEGIN
    CONTROL         "", IDC_STATIC_ANALOG_CLOCK, "STATIC", SS_OWNERDRAW, 10, 25, 280, 240
    DEFPUSHBUTTON   "关闭", IDOK, 240, 275, 50, 25
END

// 天气城市设置
IDD_WEATHER_CITY_DIALOG DIALOGEX 0, 0, 260, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "天气城市设置"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "城市名 (如 Beijing, Shanghai, Tokyo):", IDC_STATIC_WEATHER_LABEL, 10, 10, 240, 20
    EDITTEXT        IDC_EDIT_WEATHER_CITY, 10, 35, 220, 22
    DEFPUSHBUTTON   "确定", IDOK, 70, 70, 60, 25
    PUSHBUTTON      "取消", IDCANCEL, 140, 70, 60, 25
END

// NTP 服务器设置
IDD_NTP_SERVER_DIALOG DIALOGEX 0, 0, 300, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "NTP服务器设置"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "自定义NTP服务器 (留空使用默认):", IDC_STATIC_NTP_LABEL, 10, 10, 260, 20
    EDITTEXT        IDC_EDIT_NTP_SERVER, 10, 35, 260, 22
    DEFPUSHBUTTON   "确定", IDOK, 85, 70, 60, 25
    PUSHBUTTON      "取消", IDCANCEL, 155, 70, 60, 25
END

// 关于对话框
IDD_ABOUT_DIALOG DIALOGEX 0, 0, 260, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "关于 GUIC 2.0"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "GUIC 2.0 - 图形化时钟", IDC_STATIC_ABOUT_TITLE, 20, 15, 200, 20
    LTEXT           "版本 2.0.1", IDC_STATIC_ABOUT_VER, 20, 40, 200, 15
    LTEXT           "功能: 时钟/倒计时/农历/天气/世界时钟", IDC_STATIC_ABOUT_FEATURES, 20, 65, 220, 15
    LTEXT           "NTP校时/局域网NTP服务器/Web控制面板", IDC_STATIC_ABOUT_NETWORK, 20, 85, 220, 15
    LTEXT           "编译: MinGW-w64 + C++14", IDC_STATIC_ABOUT_COMPILE, 20, 110, 200, 15
    DEFPUSHBUTTON   "确定", IDOK, 85, 140, 60, 25
END

// 服务器端口设置
IDD_SERVER_SETTINGS_DIALOG DIALOGEX 0, 0, 300, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "服务器设置"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "NTP服务器端口:", IDC_STATIC_NTP_PORT_LABEL, 10, 15, 110, 20
    EDITTEXT        IDC_EDIT_NTP_PORT, 125, 13, 80, 22, ES_NUMBER
    LTEXT           "Web控制面板端口:", IDC_STATIC_HTTP_PORT_LABEL, 10, 45, 110, 20
    EDITTEXT        IDC_EDIT_HTTP_PORT, 125, 43, 80, 22, ES_NUMBER
    LTEXT           "范围: 1-65535", IDC_STATIC_PORT_RANGE, 10, 75, 260, 20
    DEFPUSHBUTTON   "确定", IDOK, 85, 105, 60, 25
    PUSHBUTTON      "取消", IDCANCEL, 155, 105, 60, 25
END
